.order-error {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0;
    padding: 50px;
    text-align: center;

    margin: auto;
  }

  .error-lottie {
    height: 150px;
    margin-bottom: 16px;
  }

  p {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  a {
    font-weight: bold;
    color: #c62828;
  }
}
