{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

  {% call card.render("", "order-success container") %}

  <div class="content">

    <div class="success-lottie"></div>

    <div class="info-success">

      <h2>Pediro realizado com Sucesso</h2>

      <p>Aguarde a resposta do vendedor no seu email cadastrado</p>

      <a href="/products/search">Ver mais produtos</a>
    </div>

  </div>

  {% endcall %}

  <script src="/animations/lottie.min.js"></script>

  <script>
    const element = document.querySelector(".success-lottie")

    lottie.loadAnimation({container: element, render: "svg", loop: false, autoplay: true, path: "/animations/79952-successful.json"})
  </script>

{% endblock %}
