{% extends "layout.njk" %}
{% block content %}
  <div class="card">
    <section class="avatar"></section>
    <section class="details">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Instrutor</div>
        <div>Paulo Pinheiro</div>
      </div>
      <div class="item">
        <div>Idade</div>
        <div>24</div>
      </div>
      <div class="item">
        <div>Sexo</div>
        <div>Mascolino</div>
      </div>
      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Musculação</span>
          <span>Crosfit</span>
        </div>
      </div>
      <div class="item">
        <div>Desde</div>
        <div>01/01/2021</div>
      </div>
    </section>
  </div>
{% endblock %}
